!!!
%html
  %head
    %title Buildonfly
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="#") BuildOnfly

        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false")
                Dropdown
                %span.caret
              %ul.dropdown-menu(role="menu")
                %li
                  %a(href="#") Action
          %ul.nav.navbar-nav.navbar-right
            %li
              %a(href="#") Link
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false")
                #{@user.fullname}
                %span.caret
              %ul.dropdown-menu(role="menu")
                %li
                  %a(href="#") Change Password
                %li
                  %a(href="#") Logout
    #body-container.container
      .row
        .col-xs-12
          = yield